* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

header {
  background: #F55A5A;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
}

.header-img {
  width: 24px;
}

.header-title {
  font-size: .875rem;
  font-weight: 500;
  margin-left: 1em;
  color: #FFFFFF;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-card {
  max-width: 600px;
  margin: 10px;
  padding: 10px;
  padding-right: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  border: 2px solid lightgray;
  border-bottom: 2px solid rgb(121, 119, 119);
  border-right: 2px solid rgb(121, 119, 119);

}

.main-img-container {
  max-width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 8px;
  flex-shrink: 0;
}

.main-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.marker {
  width: 7px;
  
}

span.country {
  font-size: .625rem;
  margin-left: 10px;
  text-transform: uppercase;
}

.card-details a {
  font-size: .625rem;
  margin-left: 10px;
  color: #2B283A;
}

.card-details a:visited {
  color: #918e9b;
}

.details-title {
  font-size: 1.5625rem;
  margin-top: 7px;
  margin-bottom: 16px;
}

p.details-date {
  font-weight: bold;
}

p.details-text {
  font-size: .625rem;
  max-width: 350px;
}
